<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>reveal.js template</title>

    <link rel="stylesheet" href="/vendor/revealjs/dist/reset.css" />
    <link rel="stylesheet" href="/vendor/revealjs/dist/reveal.css" />
    <link rel="stylesheet" href="/revealjs-themes/pm.css" />

    <!-- Theme used for syntax highlighted code -->
    <link
      rel="stylesheet"
      href="/vendor/revealjs/plugin/highlight/monokai.css"
    />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <h1>Slide Deck</h1>
          Slide 1
        </section>
        <section>
          <section>Slide 2.1</section>
          <section>Slide 2.2</section>
        </section>
        <section>Slide 3</section>
      </div>
    </div>

    <script src="/vendor/revealjs/dist/reveal.js"></script>
    <script src="/vendor/revealjs/plugin/notes/notes.js"></script>
    <script src="/vendor/revealjs/plugin/markdown/markdown.js"></script>
    <script src="/vendor/revealjs/plugin/highlight/highlight.js"></script>
    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true,
        hashOneBasedIndex: true,
        slideNumber: "h/v",
        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes],
      })
    </script>
  </body>
</html>
