@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-neutral-100 transition-colors duration-200;
  }

  html.dark {
    @apply bg-neutral-900 transition-colors duration-200 text-neutral-200;
  }

  html.resume {
    @apply bg-neutral-100;
  }

  h1 {
    @apply font-bold text-2xl;
  }

  h2 {
    @apply font-bold;
  }
}

@layer components {
  .card {
    @apply bg-white dark:bg-neutral-800 rounded-lg p-2 shadow-md shadow-neutral-500/20 dark:shadow-black/20;
  }

  .tag-link {
    @apply rounded-md px-1 font-bold no-underline font-sans text-sm
    transition-all duration-300
    bg-neutral-200 text-neutral-700
    hover:bg-purple-800 hover:text-white
    dark:bg-neutral-400 dark:text-neutral-800
    dark:hover:bg-purple-600 dark:hover:text-white;
  }

  .nav-link {
    @apply px-2 rounded-full
    text-black dark:text-neutral-200
    hover:bg-neutral-200 dark:hover:bg-neutral-700
    transition-all duration-300;
  }

  .menu-link {
    @apply font-bold nav-link flex justify-center items-center;
  }

  .not-published-tag {
    @apply rounded-md px-1 font-bold no-underline font-sans text-sm text-center
    h-5 bg-red-300 text-red-800;
  }
}

@layer components {
  .resume {
    @apply text-black;
  }

  .resume .card {
    @apply print:shadow-none;
  }
}
